@model Model.Models.Ocorrencia

@{
    ViewData["Title"] = "Apagar";
}

<h2>Apagar</h2>

<h3>Realmente deseja apagar essa ocorrência?</h3>
<div>
    <h4>Ocorrencia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hora)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hora)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prejuizo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prejuizo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        @Html.HiddenFor(model => model.Id)
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
